<!-- navbar.component.html -->
<mat-toolbar color="primary">
  <div class="logo-container">
    <a href="https://www.sooriboutique.com/">
      <img src="../../assets/images/Logo-removebg.png" alt="Logo" class="logo">
      <span class="app-name">Soori BOUTIQUE</span>
    </a>
  </div>

  <div class="spacer"></div>

  <div class="menu-buttons">
    <button mat-button><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>Home</button>
    <button mat-button><mat-icon>shopping_cart</mat-icon>Shop</button>
    <button mat-button>Contact Us</button>
  </div>
</mat-toolbar>
