.card {
  max-width: 100%; /* Full width for the card on small screens */
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

mat-grid-tile {
  background: #8E8FFA;
}

.heading-tile {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #333;
}

.example-card {
  max-width: 100%; /* Full width for card components on small screens */
}

/* Mobile view styles */
@media (max-width: 600px) {
  .example-card {
    max-width: 100%; /* Full width for card components on small screens */
  }
}
